
{% extends "base.html" %}
{% block extrahead %}
{% if page %}
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ config.site_name }}" />
    <meta property="og:title" content="{{ page.meta.title | default(config.site_name) }}" />
    <meta property="og:description" content="{{ page.meta.summary | default(config.site_description) }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="{{config.site_url}}/assets/social/{{ page.meta.slug | default('og-default') }}.png" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{config.twitter_handle}}" />
    <meta name="twitter:title" content="{{ page.meta.title | default(config.site_name) }}" />
    <meta name="twitter:description" content="{{ page.meta.summary | default(config.site_description) }}" />
    <meta name="twitter:image" content="{{config.site_url}}/assets/social/{{ page.meta.slug | default('og-default') }}.png" />

    <!-- SEO -->
    <link rel="canonical" href="{{ page.canonical_url }}" />
    <meta name="description" content="{{ page.meta.summary | default(config.site_description) }}" />
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ page.meta.title | default(config.site_name) | escape }}",
    "description": "{{ page.meta.summary | default(config.site_description) | escape }}",
    "url": "{{ page.canonical_url }}",
    "datePublished": "{{ page.meta.date | default('2010-01-01') }}",
    "author": {
        "@type": "Person",
        "name": "{{ config.site_author | default('Steven Varga') | escape }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ config.site_name | escape }}",
        "logo": {
        "@type": "ImageObject",
        "url": "{{ config.site_url }}/assets/logo.png"
        }
    },
    "image": "{{ config.site_url }}/assets/social/{{ page.meta.slug | default('og-default') }}.png"
    }
    </script>    
{% endif %}
<link rel="alternate" type="application/rss+xml" title="{{ config.site_name }} RSS Feed" href="{{ base_url }}/rss.xml" />
<link rel="alternate" type="application/feed+json" title="{{ config.site_name }} JSON Feed" href="{{ base_url }}/feed.json" />


{% endblock %}